.signin-button {
  width: 100%;
  background-color: #004f9f;
  color: #ffffff;
  font-family: 'Brutal_Type-Regular', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  transition: background-color 0.2s;
}

.signin-button:hover {
  background-color: #003d7a;
}
